body {
    background-color: #FFFFFF; /* White */
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #20493C; /* Dark Green */
    color: #FFFFFF; /* White */
    padding: 20px; /* Larger padding */
    text-align: center;
    border-bottom: 4px solid #6AC6AC; /* Light Green */
}

.navbar h1 {
    margin: 0;
    font-size: 2em; /* Larger text size */
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;
    border: 4px solid #20493C; /* Dark Green */
    border-radius: 20px;
    padding: 20px;
}

.rounded-box {
    width: 120px; /* Smaller size */
    height: 120px; /* Smaller size */
    border-radius: 50%;
    background-color: #6AC6AC; /* Light Green */
    display: flex;
    flex-direction: column; /* Align items vertically */
    align-items: center;
    justify-content: center;
    margin: 10px; /* Add margin to create space between circles */
}

.rounded-box.large {
    width: 160px; /* Larger size */
    height: 160px; /* Larger size */
}

.rounded-box img {
    width: 40px; /* Default size */
    height: 40px; /* Default size */
}

.rounded-box p {
    font-size: 0.8em; /* Adjusted smaller text size */
}

.ad {
    margin-top: 50px;
    text-align: center;
}

.ad p {
    color: #20493C; /* Dark Green */
    margin: 0; /* Remove default margin */
}

/* Adjust icon size for smaller screens */
@media only screen and (max-width: 600px) {
    .navbar {
        padding: 40px; /* Larger padding for mobile */
    }

    .navbar h1 {
        font-size: 3em; /* Larger text size for mobile */
    }

    .rounded-box {
        width: 100px; /* Smaller size for mobile */
        height: 100px; /* Smaller size for mobile */
    }

    .rounded-box.large {
        width: 140px; /* Larger size for mobile */
        height: 140px; /* Larger size for mobile */
    }

    .rounded-box img {
        width: 30px; /* Smaller size for mobile */
        height: 30px; /* Smaller size for mobile */
    }

    .rounded-box p {
        font-size: 0.6em; /* Adjusted smaller text size for mobile */
    }
}
